// Start Styling The Banner Section
.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(75deg) translateY(113%);
    height: 100vh;
    display: none;
    background-color: var(--main-color);

    @media (min-width: 992px) {
      transform: rotate(75deg) translateY(100%);
      display: block;
    }

    @media (min-width: 1200px) {
      transform: rotate(75deg) translateY(113%);
    }
  }

  .banner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;

    .banner-box-image {
      flex-basis: 35%;
      margin: 30px 0 0 30px;
      display: none;

      &:first-of-type {
        @media (min-width: 576px) {
          display: none;
        }

        @media (min-width: 992px) {
          display: inline-block;
        }
      }

      &:nth-of-type(2) {

        @media (min-width: 992px) {
          display: none;
        }
      }

      img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 7px $shadow-color;

        @media (min-width: 576px) {
          border-radius: 50%;
          border: 4px solid $white-smoke-color;
        }

        @media (min-width: 992px) {
          border-radius: 5px;
          flex-basis: 35%;
          border: none;
        }
      }

      @media (min-width: 576px) {
        border-radius: 50%;
        display: block;
        width: 270px;
        height: 270px;
        margin: 0 auto;
      }

      @media (min-width: 992px) {
        height: 100%;
        margin: 30px 0 0 30px;
      }
    }

    .banner-box-text {
      flex-basis: 85%;
      margin: auto;

      span {
        text-transform: uppercase;
        font-size: 20px;
        color: $grey-color;

        @media (min-width: 576px) {
          display: none;
        }

        @media (min-width: 992px) {
          display: block;
        }
      }

      h2 {
        text-transform: uppercase;
        margin: 20px 0;
        font-size: 40px;
        color: $dim-grey-color;

        span {
          font-size: 40px;
          color: var(--main-color);

          @media (min-width: 576px) {
            display: inline-block;
          }
        }

        @media (min-width: 576px) {
          text-align: center;
        }

        @media (min-width: 992px) {
          text-align: left;
        }
      }

      p {
        line-height: 2em;
        margin-bottom: 50px;
        color: $dim-grey-color;

        @media (min-width: 576px) {
          text-align: center;
          padding: 0 20px;
        }

        @media (min-width: 992px) {
          font-size: 17px;
          padding: 0 100px 0 0;
          text-align: left;
        }
      }

      .banner-box-text-link {
        a {
          text-decoration: none;
          padding: 15px;
          border-radius: 25px;
          color: $white-color;
          background-color: var(--main-color);

          span {
            font-size: 16px;
            color: $white-color;

            @media (min-width: 576px) {
              display: inline-block;
            }
          }

          svg {
            margin-left: -15px;
            opacity: 0;
            transition: 0.3s ease-in-out;
          }

          &:hover {
            svg {
              margin-left: 10px;
              opacity: 1;
            }
          }
        }

        @media (min-width: 576px) {
          width: fit-content;
          margin: auto;
        }

        @media (min-width: 992px) {
          margin: 0;
        }
      }

      @media (min-width: 992px) {
        flex-basis: 50%;
      }
    }

    @media (min-width: 576px) {
      flex-direction: column;
      margin-top: 60px;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      margin-top: 50px;
    }

    @media (min-width: 1200px) {
      margin-top: 0;
    }

  }

}

// Finish Styling The Banner Section