- var myTitle = ["Home","About","Portfolio","Contact"];
- var myArabicTitle = ["الرئيسية","حول"," أعمالي","اتصال"];
- var myEnglishLinks = [{name: "Home", link:"index.html"}, {name: "About", link:"about.html"}, {name: "Portfolio", link:"portfolio.html"}, {name: "Contact", link:"contact.html"}];
- var myArabicLinks = [{name: "Home", link:"ar-index.html"}, {name: "About", link:"ar-about.html"}, {name: "Portfolio", link:"ar-portfolio.html"}, {name: "Contact", link:"ar-contact.html"}];
- var myActive =[{list: 'li', name: "Home", link: 'index.html', span: 'Home', svg: 'fas fa-home'}, {list: 'li', name: "About", link: 'about.html', span: 'About', svg: 'fas fa-user'}, {list: 'li', name: "Portfolio", link: 'portfolio.html', span: 'Portfolio', svg: 'fas fa-briefcase'}, {list: 'li', name: "Contact", link: 'contact.html', span: 'Contact', svg: 'fas fa-envelope-open'}];
- var myHeadTitle =[{name: "About", h1: 'resume', h2: 'about ', span: 'me'}, {name: "Portfolio", h1: 'works', h2: 'my ', span: 'portfolio'}, {name: "Contact", h1: 'contact', h2: 'get in ', span: 'touch'}, ];
- var myArabicHeadTitle =[{name: "About", h1: 'السيرة الذاتية', h2: 'معلومات ', span: 'عني'}, {name: "Portfolio", h1: 'الأعمال', h2: 'اعمالى ', span: 'الخاصة'}, {name: "Contact", h1: 'اتصل', h2: 'ابقى على ', span: 'تواصل'}, ];
- var selected;