// Start Designing The Page Title Section
section(class="page-title")
  - for(var i = 0; i < myHeadTitle.length; i++)
    if(myArabicHeadTitle[i].name === selected)
      h1 #{myArabicHeadTitle[i].h1}
      h2 #{myArabicHeadTitle[i].h2}#[span #{myArabicHeadTitle[i].span}]
// Finish Designing The Page Title Section