// Start Designing The Page Title Section
section(class="page-title")
  - for(var i = 0; i < myHeadTitle.length; i++)
    if(myHeadTitle[i].name === selected)
      h1 #{myHeadTitle[i].h1}
      h2 #{myHeadTitle[i].h2}#[span #{myHeadTitle[i].span}]
// Finish Designing The Page Title Section