// Start Designing The PreLoader Section
section( class="loader-wrapper")
  div(class="loader")
  div(class="loader-section section-left")
  div(class="loader-section section-right")
// Finish Designing The PreLoader Section