:root {
  --main-color: #72b626;
}

$black-color: #111;
$black2-color: #252525;
$black3-color: #333;
$header-color: rgba(255, 255, 255, 0.07);
$main-color: #72b626;
$white-color: #fff;
$white2-color: #fffc;
$white-smoke-color: #eee;
$gainsboro-color: #ddd;
$very-light-grey-color: #ccc;
$dim-grey-color: #666;
$night-rider-color: #333;
$nobel-color: #999;
$grey-color: #777;
$black-haze-color: #eff0f0;
$overlay-color: rgba(0, 0, 0, 0.9);
$shadow-color: rgba(0, 0, 0, 0.3);
$shadow2-color: rgba(51, 51, 51, 0.2);
$preloader-color: #bd4932;
$pomegranate-color: #f72b1c;
$purple-heart-color: #8a2be2;
$royal-blue-color: #4169e1;
$azure-radiance-color: #007BFD;
$golden-grass-color: #daa520;
$froly-color: #ee6192;
$blue-violet-color: #6957af;
$international-orange-color: #fa5b0f;
$atlantis-color: #9acd32;
$selective-yellow-color: #ffb400;