@import "../abstract/_variables.scss";

// Start Styling The Website Header
header {
  .top-bar {
    nav {
      ul {
        right: -100%;
        left: auto;

        &.show-nav {
          right: 0;
          left: auto;
        }

        li {
          a {
            &:hover {
              span {
                @media (min-width: 992px) {
                  margin-right: 0;
                  margin-left: 10px;
                }
              }
            }
          }
        }

        @media (min-width: 992px) {
          right: auto;
          left: 2%;
        }
      }
    }

    .mobile-btn {
      left: 5%;
      right: auto;
    }
  }

  .color-setting {
    left: auto;
    right: -244px;

    &.show-color-setting {
      right: 0;
      left: auto;
    }

    .color-setting-content {
      .color-setting-dark-colors {
        .color-setting-dark-color {
          &:nth-of-type(2) {
            padding: 3px 2px 2px 27px;

            &.dark-mode {
              padding: 3px 27px 2px 2px;
            }
          }
        }
      }

      .color-setting-language-colors {
        .color-setting-language-color {
          order: 1;

          a {
            span {
              margin-left: 0;
              margin-right: 10px;
            }
          }

          &:first-of-type {
            order: 2;
          }

          .disable-language {
            span {
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .color-setting-icon {
      box-shadow: -4px 0px 4px 0px $shadow2-color;
      border-radius: 5px 0 0 5px;
    }
  }
}

// Finish Styling The Website Header
// Start Styling The Banner Section
.banner {
  .banner-background {
    @media (min-width: 992px) {
      transform: rotate(-75deg) translateY(100%);
    }

    @media (min-width: 1200px) {
      transform: rotate(-75deg) translateY(113%);
    }
  }

  .banner-box {
    .banner-box-image {
      @media (min-width: 992px) {
        margin: 30px 30px 0 0;
      }
    }

    .banner-box-text {
      h2 {
        @media (min-width: 992px) {
          text-align: right;
        }
      }

      p {
        @media (min-width: 992px) {
          padding: 0 0 0 100px;
          text-align: right;
        }
      }

      .banner-box-text-link {
        a {
          svg {
            margin-right: -15px;
            margin-left: 0;
          }

          &:hover {
            svg {
              margin-right: 10px;
              margin-left: 0
            }
          }
        }
      }
    }
  }
}

// Finish Styling The Banner Section

/* Start Style the About Page*/
/* Start Style the About Information Section*/
.about-info {
  .about-boxs {
    .about-left-boxs {
      .about-left-box {
        a {
          &:hover {
            svg {
              margin-right: 10px;
              margin-left: 0;
            }
          }

          svg {
            margin-right: -15px;
            margin-left: 0;
          }
        }
      }
    }

    .about-right-boxs {

      .about-right-box {
        .about-right-box-texts {
          .about-right-box-text {
            &:first-of-type {
              margin-right: 0;
              margin-left: 20px
            }
          }
        }
      }
    }
  }
}

/* Finish Style the About Information Section*/
/* Start Style the Experience and Education Section*/
.experience-and-education {
  .experience-and-education-boxs {
    .experience-and-education-boxs-boxs {
      .experience-and-education-boxs-box {
        .experience-and-education-boxs-box-icon {
          &::after {
            right: 20px;
            left: auto;
          }
        }
      }
    }
  }
}

/* Finish Style the Experience and Education Section*/
/* Finish Style the About Page*/

/* Start Style the Contact Page*/
/* Start Style the Contact Information Section*/
.contact-info {
  .contact-boxs {
    .contact-left-box {
      .contact-left-box-icons {
        .contact-left-box-icon {
          .contact-left-box-icon-icon {
            margin-left: 15px;
            margin-right: 0;
          }
        }
      }
    }

    .contact-right-box {
      form {
        input {
          &::placeholder {
            text-align: right;
          }

          &:last-of-type {
            margin: 0;
          }

          @media (min-width: 768px) {
            margin: 0 0 0 5%;
          }

          @media (min-width: 992px) {
            margin: 0 0 0 2%;
          }
        }

        textarea {
          &::placeholder {
            text-align: right;
          }
        }

        button {
          &:hover {
            svg {
              margin-right: 10px;
              margin-left: 0;
            }
          }

          svg {
            margin-left: 0;
            margin-right: -15px;
          }
        }
      }
    }
  }
}

/* Finish Style the Contact Information Section*/

/* Finish Style the Contact Page*/